  <div class='jumbotron'>
      <h1>Welcome to The Flint &amp; Flame!</h1>
      <p class='tagline'>
        <img {{bind-attr src='logo'}} alt='Logo' />
        Everything you need to make it through the winter.
      </p>
      <p>
        {{#link-to 'products' class='btn btn-primary btn-lg'}}
          Browse All {{productsCount}} Items &raquo;
        {{/link-to}}
      </p>
    </div>
    <div class='row'>
      {{#each product in onSale}}
        {{product-details product=product classNames='col-sm-4'}}
      {{/each}}
    </div>
    <p class='pull-right text-muted'>Rendered on {{time}}</p>