<h3>Reviews</h3>
    <ul>
      {{#each review in model}}
        <li><p>{{review.text}}</p></li>
      {{else}}
        <li><p class='text-muted'><em>No reviews yet. Be the first to write one!</em></p></li>
      {{/each}}
    </ul>